[core]
    # Git is not power-cut-safe by default:
    # http://marc.info/?l=git&m=143489570403305&w=4
    fsyncObjectFiles = yes
    excludesfile = ~/.cvsignore

[user]
    name = Nadrieril
    email = nadrieril@gmail.com
    signingkey = 3155D0CDF337E6B482871C59D1410AAF6C99F118
[branch]
    autosetuprebase = always
[push]
    default = current
[rebase]
    autosquash = true
    autostash = true
[diff]
    compactionHeuristic = true

[url "git@rubion:"]
   insteadOf = rubion:
[url "git@gitolite:"]
   insteadOf = gitolite:
[url "git@minui:"]
   insteadOf = minui:
[url "git@github.com:"]
   pushInsteadOf = github:
   pushInsteadOf = git://github.com/
[url "git://github.com/"]
   insteadOf = github:

[alias]
    s = status
    st = status
    stu = status -uno
    d = diff -M
    dc = diff -M --cached
    co = checkout
    cob = checkout -b
    br = branch
    cp = cherry-pick

    fa = fetch --all --prune
    pur = pull --rebase
    pff = pull --no-rebase --ff-only
    subu = submodule update --init --remote
    clear = remote prune origin

    sth = stash
    sthp = stash pop
    unstash = !git stash show -p | git apply -3 && git stash drop
    rh = reset HEAD

    ap = add -p
    ai = add -i
    an = add -N

    ci = commit
    cif = commit --fixup
    cm = commit -m
    cia = commit --amend
    cian = commit --amend --no-edit
    rb = rebase
    rbi = rebase -i

    alias = config --get-regexp ^alias\\.
    confg = config --global
    l  = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an [%G?]>%Creset' --abbrev-commit
    la = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an [%G?]>%Creset' --abbrev-commit --all
[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX
    log = diff-so-fancy | less --tabs=4 -RFX
[interactive]
    diffFilter = diff-so-fancy --patch
[gpg]
    program = gpg2
