"*":
  "exception-reporting":
    userId: "373d9b32-6aae-9576-9a0d-e8b45fb9f783"
  "welcome":
    showOnStartup: false
  "editor":
    backUpBeforeSaving: true
    scrollPastEnd: true
    invisibles: {}
    autoIndentOnPaste: false
    showIndentGuide: true
    softWrap: true
    preferredLineLength: 120
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "autocomplete-plus":
    confirmCompletion: "tab"
    enableAutoActivation: false
    softWrapAtPreferredLineLength: true
  "core":
    projectHome: "/home/nadrieril/wip"
    ignoredNames: [
      ".git"
      "*.hi"
      "*.pyc"
      "*.o"
      "*.class"
      "*.cmi"
      "*.cmx"
      "*.mli.d"
      "*.ml.d"
    ]
    disabledPackages: [
      "linter-lua"
      "linter-shellcheck"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "git-blame"
    ]
    audioBeep: false
  "linter":
    lintOnChangeInterval: 2000
    ignoredLinterErrors: [
      "shellcheck"
    ]
  "tree-view":
    hideIgnoredNames: true
  "build":
    scrollOnError: true
    stealFocus: false
    saveOnBuild: true
    buildOnSave: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    onlyHighlightWholeWords: true
  "remote-atom":
    launch_at_startup: true
  "haskell-ghc-mod":
    disableFrontend: true
  "ide-haskell":
    startupMessageIdeBackend: false
  "one-dark-ui":
    layoutMode: "Compact"
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "keyboard-localization":
    useKeyboardLayout: "fr_FR"
  "vim-surround":
    pairs: [
      "()"
      "{}"
      "[]"
      "\"\""
      "''"
      "``"
      "$$"
    ]
  "jumpy":
    highContrast: true
  "minimap":
    plugins:
      "git-diff": true


".text":
  "editor":
    softWrap: true
    softWrapAtPreferredLineLength: true
".ocaml.source":
  "editor":
    tabLength: 2
".java.source":
  "editor":
    tabLength: 4
".python.source":
  "editor":
    tabLength: 4
