"*":
  "exception-reporting":
    userId: "3d05aadc-d25f-3ea2-e40a-3f40f6d5ab57"
  welcome:
    showOnStartup: false
  editor:
    scrollPastEnd: true
    invisibles: {}
    autoIndentOnPaste: false
    showIndentGuide: true
    softWrap: true
    preferredLineLength: 100
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "autocomplete-plus":
    enableAutoActivation: false
  core:
    ignoredNames: [
      "*.pyc"
      "*.o"
      "*.class"
      "*.cmi"
      "*.cmx"
      "*.mli.d"
      "*.ml.d"
    ]
    disabledPackages: [
      "linter-lua"
      "linter-shellcheck"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "git-blame"
    ]
  linter:
    lintOnChangeInterval: 2000
    ignoredLinterErrors: [
      "shellcheck"
    ]
  "tree-view":
    hideIgnoredNames: true
  "linter-clang": {}
  "autocomplete-clang":
    preCompiledHeaders: {}
    std: {}
  build:
    scrollOnError: true
    stealFocus: false
    saveOnBuild: true
    buildOnSave: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    onlyHighlightWholeWords: true
  "linter-javac": {}
  "remote-atom":
    launch_at_startup: true
  "linter-shellcheck": {}
  "haskell-ghc-mod":
    disableFrontend: true
  "ide-haskell":
    startupMessageIdeBackend: false
  "atom-beautify":
    _analyticsUserId: "699f7c64-3991-4933-8dfa-4384804b0035"
  "one-dark-ui":
    layoutMode: "Compact"
  "remote-edit": {}
  "find-and-replace": {}
  "spell-check": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "keyboard-localization":
    useKeyboardLayout: "fr_FR"
  "vim-surround":
    pairs: [
      "()"
      "{}"
      "[]"
      "\"\""
      "''"
      "``"
      "$$"
    ]
".camlp4.ocaml.source":
  editor:
    tabLength: 2
".ocaml.source":
  editor:
    tabLength: 2
".java.source":
  editor:
    tabLength: 4
