'.platform-linux atom-workspace, .platform-linux atom-text-editor':
  'ctrl-shift-b': 'build:trigger'

'atom-text-editor':
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'
'atom-workspace atom-text-editor':
  'ctrl-k l': 'editor:split-selections-into-lines'

'atom-text-editor.vim-mode':
  'ctrl-c': 'core:copy'
  'ctrl-v': 'core:paste'
  'alt-c': 'vim-mode:reset-normal-mode'
'atom-text-editor.vim-mode.insert-mode':
  'ctrl-w': 'core:close'

'.platform-linux atom-workspace atom-text-editor:not([mini])':
  'ctrl-up': 'my:move-line-up'
  'ctrl-down': 'my:move-line-down'
